/* 小说 */
.novel_disp_area {
  width:1000px;
  padding:10px 0 20px;
  background-color:#FEB;
}
.novel_title {
  width:1000px;
  height:50px;
  font-size:28px;
  text-align:center;
  line-height:50px;
  color:#F60;
  text-shadow:1px 1px 1px #000;
}
.novel_author {
  width:1000px;
  height:35px;
  font-size:16px;
  text-align:center;
  line-height:35px;
  color:#CCC;
  text-shadow:1px 1px 1px #000;
  }
.cut_line {
  width:970px;
  border-bottom:1px solid #AAA;
  margin:0 auto;
}
.article_title {
  width:1000px;
  height:40px;
  font-size:18px;
  text-align:center;
  line-height:40px;
  color:#000;
  text-shadow:1px 1px 1px #F60;
}
.article_content {
  width:970px;
  height:auto;
  margin:0 auto;
}
.article_content p {
  width:970px;
  height:auto;
  line-height:30px;
  font-size:16px;
}
.article_page {
  width:990px;
  height:30px;
}
.article_page_one {
  width:330px;
  height:30px;
  float:left;
}
.article_page a {
  border:1px solid #000;
  text-decoration:none;
  color:#FFF;
  display:block;
  width:150px;
  height:28px;
  text-align:center;
  line-height:28px;
  margin-left:90px;
  background-color:#F60;
  transition:0.5s;
}
.article_page a:hover {
  background-color:#FFF;
  color:#000;
  border-color:#F60;
  box-shadow:0 0 5px #F60;
}