/* 智能手机通用样式表 */
* {
  margin:0;
  padding:0;
  border:0;
  font-family:"Heiti SC","Helvetica",sans-serif;
}
/*@media screen and (min-width:320px) {
  html {font-size:28px;}
}
@media screen and (min-width:360px) {
  html {font-size:32px;}
}
@media screen and (min-width:400px) {
  html {font-size:36px;}
}
@media screen and (min-width:440px) {
  html {font-size:40px;}
}
@media screen and (min-width:480px) {
  html {font-size:44px;}
}
@media screen and (min-width:520px) {
  html {font-size:48px;}
}
@media screen and (min-width:560px) {
  html {font-size:52px;}
}*/
html {
  font-size:18px;
}
body {
  width:100%;
  background-image:url("../../img/common/bg.png");
}
