/* 球队封面 */
.thumbnail_team_1610612737,
.thumbnail_team_1610612738,
.thumbnail_team_1610612739,
.thumbnail_team_1610612740,
.thumbnail_team_1610612741,
.thumbnail_team_1610612742,
.thumbnail_team_1610612743,
.thumbnail_team_1610612744,
.thumbnail_team_1610612745,
.thumbnail_team_1610612746,
.thumbnail_team_1610612747,
.thumbnail_team_1610612748,
.thumbnail_team_1610612749,
.thumbnail_team_1610612750,
.thumbnail_team_1610612751,
.thumbnail_team_1610612752,
.thumbnail_team_1610612753,
.thumbnail_team_1610612754,
.thumbnail_team_1610612755,
.thumbnail_team_1610612756,
.thumbnail_team_1610612757,
.thumbnail_team_1610612758,
.thumbnail_team_1610612759,
.thumbnail_team_1610612760,
.thumbnail_team_1610612761,
.thumbnail_team_1610612762,
.thumbnail_team_1610612763,
.thumbnail_team_1610612764,
.thumbnail_team_1610612765,
.thumbnail_team_1610612766 {
  width:192px;
  height:108px;
  display:block;
  background-image:url(../../img/nba/thumbnail/total.jpg);
  background-repeat: no-repeat;
}
.thumbnail_team_1610612737 {background-position:      0      0;}
.thumbnail_team_1610612738 {background-position: -192px      0;}
.thumbnail_team_1610612739 {background-position: -384px      0;}
.thumbnail_team_1610612740 {background-position: -576px      0;}
.thumbnail_team_1610612741 {background-position: -768px      0;}
.thumbnail_team_1610612742 {background-position:      0 -108px;}
.thumbnail_team_1610612743 {background-position: -192px -108px;}
.thumbnail_team_1610612744 {background-position: -384px -108px;}
.thumbnail_team_1610612745 {background-position: -576px -108px;}
.thumbnail_team_1610612746 {background-position: -768px -108px;}
.thumbnail_team_1610612747 {background-position:      0 -216px;}
.thumbnail_team_1610612748 {background-position: -192px -216px;}
.thumbnail_team_1610612749 {background-position: -384px -216px;}
.thumbnail_team_1610612750 {background-position: -576px -216px;}
.thumbnail_team_1610612751 {background-position: -768px -216px;}
.thumbnail_team_1610612752 {background-position:      0 -324px;}
.thumbnail_team_1610612753 {background-position: -192px -324px;}
.thumbnail_team_1610612754 {background-position: -384px -324px;}
.thumbnail_team_1610612755 {background-position: -576px -324px;}
.thumbnail_team_1610612756 {background-position: -768px -324px;}
.thumbnail_team_1610612757 {background-position:      0 -432px;}
.thumbnail_team_1610612758 {background-position: -192px -432px;}
.thumbnail_team_1610612759 {background-position: -384px -432px;}
.thumbnail_team_1610612760 {background-position: -576px -432px;}
.thumbnail_team_1610612761 {background-position: -768px -432px;}
.thumbnail_team_1610612762 {background-position:      0 -540px;}
.thumbnail_team_1610612763 {background-position: -192px -540px;}
.thumbnail_team_1610612764 {background-position: -384px -540px;}
.thumbnail_team_1610612765 {background-position: -576px -540px;}
.thumbnail_team_1610612766 {background-position: -768px -540px;}
