/* 球队封面 */
.thumbnail_team_1610612737,
.thumbnail_team_1610612738,
.thumbnail_team_1610612739,
.thumbnail_team_1610612740,
.thumbnail_team_1610612741,
.thumbnail_team_1610612742,
.thumbnail_team_1610612743,
.thumbnail_team_1610612744,
.thumbnail_team_1610612745,
.thumbnail_team_1610612746,
.thumbnail_team_1610612747,
.thumbnail_team_1610612748,
.thumbnail_team_1610612749,
.thumbnail_team_1610612750,
.thumbnail_team_1610612751,
.thumbnail_team_1610612752,
.thumbnail_team_1610612753,
.thumbnail_team_1610612754,
.thumbnail_team_1610612755,
.thumbnail_team_1610612756,
.thumbnail_team_1610612757,
.thumbnail_team_1610612758,
.thumbnail_team_1610612759,
.thumbnail_team_1610612760,
.thumbnail_team_1610612761,
.thumbnail_team_1610612762,
.thumbnail_team_1610612763,
.thumbnail_team_1610612764,
.thumbnail_team_1610612765,
.thumbnail_team_1610612766 {
  width:260px;
  height:146px;
  display:block;
  background-image:url(../../img/nba/thumbnail/total.jpg);
  background-repeat: no-repeat;
}
.thumbnail_team_1610612737 {background-position:       0      0;}
.thumbnail_team_1610612738 {background-position:  -260px      0;}
.thumbnail_team_1610612739 {background-position:  -520px      0;}
.thumbnail_team_1610612740 {background-position:  -780px      0;}
.thumbnail_team_1610612741 {background-position: -1040px      0;}
.thumbnail_team_1610612742 {background-position:       0 -146px;}
.thumbnail_team_1610612743 {background-position:  -260px -146px;}
.thumbnail_team_1610612744 {background-position:  -520px -146px;}
.thumbnail_team_1610612745 {background-position:  -780px -146px;}
.thumbnail_team_1610612746 {background-position: -1040px -146px;}
.thumbnail_team_1610612747 {background-position:       0 -292px;}
.thumbnail_team_1610612748 {background-position:  -260px -292px;}
.thumbnail_team_1610612749 {background-position:  -520px -292px;}
.thumbnail_team_1610612750 {background-position:  -780px -292px;}
.thumbnail_team_1610612751 {background-position: -1040px -292px;}
.thumbnail_team_1610612752 {background-position:       0 -438px;}
.thumbnail_team_1610612753 {background-position:  -260px -438px;}
.thumbnail_team_1610612754 {background-position:  -520px -438px;}
.thumbnail_team_1610612755 {background-position:  -780px -438px;}
.thumbnail_team_1610612756 {background-position: -1040px -438px;}
.thumbnail_team_1610612757 {background-position:       0 -584px;}
.thumbnail_team_1610612758 {background-position:  -260px -584px;}
.thumbnail_team_1610612759 {background-position:  -520px -584px;}
.thumbnail_team_1610612760 {background-position:  -780px -584px;}
.thumbnail_team_1610612761 {background-position: -1040px -584px;}
.thumbnail_team_1610612762 {background-position:       0 -730px;}
.thumbnail_team_1610612763 {background-position:  -260px -730px;}
.thumbnail_team_1610612764 {background-position:  -520px -730px;}
.thumbnail_team_1610612765 {background-position:  -780px -730px;}
.thumbnail_team_1610612766 {background-position: -1040px -730px;}
