/* 登录记录 */
.no-content-hint,
.main-content-case-list {
	height:30px;
	text-align:center;
	line-height:30px;
}
.no-content-hint {
	width:700px;
}
.main-content-case-list {
	width:350px;
	float:left;
}
.local-difference {
	color:#F00!important;
}