/* PUBG 智能手机页 */
.weapon_box {
  width:80%;
  padding:1px 3% 0.5em;
  margin:0.5em auto 0;
  background-color:#E3D9CD;
  border-radius:0.5em;
}
.weapon_box_cols {
  width:100%;
  height:1em;
  margin-top:0.5em;
}
.weapon_box_cols_key,
.weapon_box_cols_item {
  height:1em;
  line-height:1em;
}
.weapon_box_cols_key {
  width:100%;
  color:#3F3830;
}
.weapon_box_cols_item {
  width:85%;
  color:#6C7874;
  margin-left:15%;
}
.percent_bar_background {
  width:100%;
  height:1em;
  background-color:#B0B1A1;
}
.percent_bar {
  height:1em;
  background-color:#6C7874;
}
